/*nav bar*/

.navbar-nav li a {
    color: #fff;
}



@media (max-width: 576px) {
    .embed-responsive iframe {
        width: 100%; 
        height: auto;
    }

}


.formulario{
    margin-top: 15px;
    margin-bottom: 15px;
    
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}

#myCarousel{
    width: 70%;
}