/*---- Mobile First ----- */
main{
    margin-bottom: 25%;
}
.navbar-nav li a {
    color: #fff;
}
body{
    background-color: #F5F5F5;
}
/*----Inicio---*/
.inicio{
    margin-top: 30px; 
}
#primera-col {
    margin-bottom: 150px;
}
#segunda-col .card{
    margin-bottom: 50px;
}
.mapa-contenedor{
    border-width:1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.181);
    padding: 15px;
    border-radius: 10px;
    background-color: white;

}
/*---Proyectos---*/
.infoActividad{
    margin: 5%;
}
.content-proyectos{
    margin-top: 30px;
}
/*---Donaciones---*/
.formulario{
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 5px;

        form{
            background-color: rgb(19, 189, 133);
            padding: 15px;
        }
}

#textFormDonaciones{
    border: solid;
    height:fit-content;
    margin-bottom: 15px;
}
/*---Nosotros---*/
.content-nosotros{
    margin-top: 30px;
}
/*---Tienda---*/

.content-store{
    margin-top: 30px;
    
        .card{
            height: 100%;
            
                .card-img-top{
                    height: 400px;
                    object-fit: cover;
                }
                .card-body{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
        }
}
/*---Breakpoint desktop---*/
@media only screen and (min-width: 992px){
main{
    margin-bottom: 10%;
}
/*---Nosotros---*/
#myCarousel{
    width: 70%;
}
/*---Animaciones Desktop---*/
#segunda-col {
    animation-name: contact;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-direction:reverse;
}
@keyframes contact{
0%{
    transform: translateX(0px);
}
100%{
    transform: translateX(400px);
}    
}
#primera-col {
    animation-name: titulo;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-direction:reverse;
}
@keyframes titulo{
0%{
    transform: translateX(0px);
}
100%{
    transform: translateX(-400px);
}    
}

/*--- SASS interacciones ---*/

@mixin selector{
    filter:saturate(30%);
    background-color: aqua;
}

@each $producto in producto1, producto2, producto3{
    ##{$producto}:hover{
        
        @include selector();

    }
}

/* esto lo podria haber resuelto con 

.content-store article:hover{
    filter:saturate(30%);
    background-color: aqua;
}
    pero no se me ocurrió como implementar
    estas funciones de sass, entiendo perfecto el while, for, if y each
    pero no se me ocurrió donde usarlo de forma util en la pagina
     y mi sentido de diseño estilo no aporta mucho tampoco */

}